<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

    <title>Catalog App</title>
</head>
<body>
    <div class="container">
        <!-- navbar -->
        <nav class="navbar navbar-light navbar-expand" style="background-color: #e3f2fd;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand mr-auto" href="{{url_for('showCategories')}}">Catalog App</a>
            {% if not user_logged_in %}
            <a href="{{url_for('showLogin')}}" type="button" class="btn btn-secondary navbar-right">Login</a>
            {% else %}
            <a href="{{url_for('gdisconnect')}}" type="button" class="btn btn-secondary">Logout</a>
            {% endif %}
        </nav>

        <!-- flashed messages -->
        <div class="row justify-content-center">
            <div class="col-sm-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger" role="alert">
                                    <p class="text-center text-flash">{{message}}</p>
                                </div>
                            {% else %}
                                <div class="alert alert-success" role="alert">
                                    <p class="text-center text-flash">{{message}}</p>
                                </div>
                            {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        </div>

        <!-- main content, categories and latest items -->
        <div class="row justify-content-center">
            <div class="col-sm-4 display-box">
                <h4>Categories
                </h4>
                <hr>
                <ul>
                    {% if categories.count() > 0 %}

                    {% for category in categories %}
                    <li>
                        <a href="{{url_for('showCategoryItems', category_name=category.name)}}">{{category.name}}</a>
                    </li>
                    {% endfor %}

                    {% else %}
                        <li>There are no Categories currently defined.</li>
                    {% endif %}
                </ul>
                {% if user_logged_in %}
                <a class="text-danger" href="{{url_for('newCategory')}}" title="Create new category">New</a>
                {% endif %}
            </div>
            <div class="col-sm-4 display-box">
                <h4>Latest Items</h4>
                <hr>
                <ul>
                    {% if latest_items.count() > 0 %}

                    {% for item in latest_items %}
                    <li>
                        <a href="{{url_for('showItem', category_name=item.Category.name, item_name=item.CategoryItem.name)}}">
                        {{item.CategoryItem.name}}
                    </a> <span class="text-muted">({{item.Category.name}})</span>
                    </li>
                    {% endfor %}

                    {% else %}
                        <li>There are no Items currently defined.</li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</body>
</html>
